html, body {
  width:100%;
  height:100%;
}

body {
  display:-webkit-box;
  display:-ms-flexbox;
  display:-moz-box;
  -ms-flex-direction:column;
  -webkit-box-orient:vertical;
  -moz-box-orient:vertical;
  /*overflow:hidden;  this is important to prevent the whole page to bounce 但是在Android 2.x 没有滚动条，没法scrollTop(0,0) */
}

.content {
  -webkit-box-flex:1;
  -ms-flex:1;
  -moz-box-flex:1;
  position:relative;
  overflow:hidden;
}
